.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* *** colors *** */
    .product:nth-child(4n) {
        .product-header {
            background-color: $green;
        }
    }
    .product:nth-child(4n+1) {
        .product-header {
            background-color: $black;
        }
    }
    .product:nth-child(4n+2) {
        .product-header {
            background-color: $red;
        }
    }
    .product:nth-child(4n+3) {
        .product-header {
            background-color: $yellow;
        }
    }
}
/* *** *** *** First child *** *** *** */
.products {
    .product:first-child {
        width: 50vw;
        height: 600px;
        position: relative;
        
        .product-header {
            width: 100%;
            height: 100%;
            align-items: start;
            img {
                width: auto;
                height: 70%;
            }
            h2 {
                margin-top: 90px;
            }
        }
        .product-info {
            position: absolute;
            left: 20px;
            bottom: 50px;
            width: 300px;
            height: 150px;
            color: $white;
            a {
                color: $white;
            }
        }
    }
}
/* *** *** *** All other children *** *** *** */
.product{
    width: 25vw;
    height: 600px;
    position: relative;

    .product-header {
        width: 100%;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 100%;
            position: absolute;
            right: 10px;
            bottom: 0;
            z-index: 1;
        }
        
        h2 {
            color: $white;
            font-family: $roboto;
            font-size: 38px;
            font-weight: $fontRegular;
            text-shadow: 0 2px 4px rgba($black,0.50);
            letter-spacing: 1.83px;
            z-index: 2;
        }
    }

    .product-info {
        width: 82%;
        height: 150px;
        margin: 25px 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-size: 14px;
            font-weight: $fontLight;
            line-height: 18px;
        }
        h3 {
            font-size: 24px;
            font-weight: $fontRegular;
            text-align: right;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            li {
                a {
                    color: $black;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: $fontLight;
                }
            }
        }
    }
}